<ion-view title="StayFriends" id="home" style="background-color:#f0f3f8;">
    <ion-nav-buttons side="right" class="has-header">
        <button class="button button-dark icon ion-gear-a"></button>
    </ion-nav-buttons>
    <ion-content padding="false" class="has-header">

        <div class="list card" id="friend-1" data-order="1">
            <ion-item class="item-avatar item-icon-right dark">
                <img src="img/cQdc7D61SxqZn3JHkfJV_ben.jpg">
                <h2dark>
                    <h2>Wilma Lecken</h2>
                    <!--<progress value="10" max="15"></progress>-->

                    <div class="progress-bar" data-days="10">
                        <div class="smiley" >
                            <span class="days">10</span>
                        </div>
                    </div>

                    <i class="icon ion-android-checkmark-circle"></i>
                </h2dark>
            </ion-item>
            <!--<form id="friend-1-form" class="list">-->
                <!--<label class="item item-input">-->
                    <!--<span class="input-label">Input</span>-->
                    <!--<input type="text" placeholder="Where did we met last?">-->
                <!--</label>-->
            <!--</form>-->
        </div>

        <p id="empty-info" class="padding text-center">
            Keep Track of all your friends to know who you missed to meet. <br/>
            <strong>Add friends below!</strong>
            <!--<img src="" title="little grey dino here...">-->
        </p>

    </ion-content>

    <button id="add-button" class="button button-balanced button-round button-float">
        <i class="icon ion-android-people"></i>
    </button>
</ion-view>
