// Buttons
.button-round {
    border-radius: 50%;
    height: 52px;
    width: 50px;
}

.button-float{
    z-index: 12;
    position: fixed;
    bottom: 20px;
    left: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    transform: translate(-50%, 0);
}

#empty-info {
    max-width: 250px;
    margin: 0 auto;
}



// Progress Bars
.progress-bar {
    height: 10px;
    border-radius: 5px;
    position: relative;
    top: 10px;

    // calculate width of progress bar
    @for $i from 1 through 15 {
        &[data-days="#{$i}"]{
            $percent: (100% / 15) * $i;
            width: $percent;
            background: mix($balanced, $assertive, $percent);
        }
    }

    .smiley {

    }

    .days {
        position: absolute;
        right: -1.2rem;
        top: -5px;
    }
}


//progress[value] {
//    margin: 7px auto 0;
//    height: 24px;
//    text-align: right;
//
//    &::after {
//        content: attr(value);
//        position: relative;
//        right: -25px;
//        font-weight: bold;
//    }
//}
//
//progress[value]::-webkit-progress-bar {
//    background-color: #eee;
//    border-radius: 2px;
//    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
//}
//
//progress[value]::-webkit-progress-value {
//    background-image:
//                     -webkit-linear-gradient(-45deg,
//                             transparent 33%, rgba(0, 0, 0, .1) 33%,
//                             rgba(0,0, 0, .1) 66%, transparent 66%),
//                     -webkit-linear-gradient(top,
//                             rgba(255, 255, 255, .25),
//                             rgba(0, 0, 0, .25)),
//                     -webkit-linear-gradient(left,$assertive, $balanced);
//    border-radius: 2px;
//    background-size: 35px 20px, 100% 100%, 100% 100%;
//}


// Component Card
.item-avatar {
    padding-left: 80px;
    min-height: 80px;

    > img:first-child {
        max-width: 55px;
        max-height: 55px;
        top: 14px;
        left: 14px;
    }
}

.item-icon-right{
    padding-right: 75px;

    .icon {
        right: 0;
        padding-right: 11px;
        padding-left: 11px;
        cursor: pointer;

        &::before {
            position: relative;
            bottom: -11px;
        }
    }
}


